// you can define your variables here

@color-primary: #4e7ead;
@color-secondary: #79b8dc;
@color-accent: #fc7e1b;
@color-accent-light: #fe883b;
@color-accent-dark: #b74800;

@color-plane: #666666;

@color-success: #A2D283;
@color-info: @color-primary;
@color-warning: @color-accent-light;
@color-danger: #ff556a;



@color-run-activity-default: @color-primary;

@color-run-trigger-default: @color-accent;
@color-run-trigger-hover: @color-accent-light;
@color-run-trigger-active: @color-accent-dark;

@color-tile-selected: @color-primary;
@color-button-active: @color-primary;

@color-link: @color-plane;
@color-link-hover: @color-secondary;
@color-link-active: @color-primary;

@size-height-nav-bar: 54px;
@size-height-header: 113px;

@size-height-right-container: ~'calc(100vh - @{size-height-nav-bar} - @{size-height-header})';

@card-bg-color: #ffffff;
@card-bg-color-hover: #ececec;
@card-width: 250px;
@card-height: 200px;
@card-gutter-vertical: 20px;
@card-gutter-horizontal: @card-gutter-vertical;
