@import "_variables";

/* Reset */
html,
body,
div {
  border: 0;
  margin: 0;
  padding: 0;
}

html, body {
  display: flex;
  align-items: stretch;
}

html {
  min-height: 100%;
}

body {
  width: 100%;
  min-height: 100%;
}

/* Box-sizing border-box */
* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  src: url('fonts/SourceSansPro-Regular.eot');
  src: url('fonts/SourceSansPro-Regular.ttf')  format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  src: url('fonts/SourceSansPro-Bold.eot');
  src: url('fonts/SourceSansPro-Bold.ttf')  format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Source Sans Pro';

  src: url('fonts/SourceSansPro-Light.eot');
  src: url('fonts/SourceSansPro-Light.ttf')  format('truetype');
  font-weight: 300;
}

/* Set up a default font and some padding to provide breathing room */
body {
  font-family: 'Source Sans Pro', sans-serif;
  /*font-family: Roboto, "Helvetica Neue", sans-serif;*/
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: @color-link;
  cursor: pointer;
  &:hover{
    color: @color-link-hover;
  }
  &:active{
    color: @color-link-active;
    text-decoration: none;
  }
}

p {
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 20px;
  margin-bottom: 1em;
  margin-top: 1em;
}

ul {
  margin: 10px 0 0 0;
  padding: 0 0 0 20px;
}

li {
  font-weight: 400;
  margin-top: 4px;
}
/*
input {
  border: 1px solid #106cc8;
  font-size: 14px;
  height: 40px;
  outline: none;
  padding: 8px;
}

button {
  background-color: #106cc8;
  border-style: none;
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  height: 40px;
  padding: 8px 18px;
  text-decoration: none;
}

button:hover {
  background-color: #28739e;
}
*/

button[hidden] {
  display: none;
}


label {
  color: #676a6d;
  font-size: 13px;
  font-weight: normal;
}

/* Required because of specificity when using angular components css */
[hidden] {
  display: none !important;
}

.flogo-btn-link {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3333333;
  outline: none;
  padding: 10px 36px;
}

.flogo-btn-link:hover {
  color: #79b8dc;
}

.flogo-btn-link:active {
  color: #062e79;
}

.flogo-input-search {
  border: 1px solid #106cc8;
  font-size: 14px;
  height: 40px;
  outline: none;
  padding: 8px;
}

.flogo-btn-link[disabled],
.flogo-btn-link[disabled]:hover,
.flogo-btn-link.disabled,
.flogo-btn-link.disabled:hover {
  color: #cad3df;
}

/*---------------------------*\
  TIBCO Cloud UI Pattern adjustments
\*---------------------------*/

.tc-text-areas {
  width: 100%;
}

.tc-buttons-primary-call,
.tc-buttons-primary {
  padding: 12px 24px;
}

/* ================ */

/* The spin loading styles */
.flogo-spin-loading-bg {
  background: #fafafa;
  width: 100%;
}
.flogo-spin-loading {
  transform: scale(0.5);
  transform-origin: 0 0;
  position: fixed;
  top: 38%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  width: 200px;
  height: 200px;
}
@keyframes flogo-spin-loading {
  0% {
    opacity: 1;
    transform: scale(1.5);
  }
  50% {
    opacity: 0.5;
    transform: scale(0.9);
  }
  100% {
    opacity: 0.1;
    transform: scale(0.1);
  }
}
.flogo-spin-loading > div {
  width: 24px;
  height: 24px;
  margin-left: 4px;
  margin-top: 4px;
  position: absolute;
}
.flogo-spin-loading > div > div {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: #062e79;
}
.flogo-spin-loading > div:nth-of-type(1) > div {
  animation: flogo-spin-loading 1s linear infinite 0s;
}
.flogo-spin-loading > div:nth-of-type(1) {
  transform: translate(84px, 84px) rotate(45deg) translate(70px, 0);
}
.flogo-spin-loading > div:nth-of-type(2) > div {
  animation: flogo-spin-loading 1s linear infinite 0.12s;
}
.flogo-spin-loading > div:nth-of-type(2) {
  transform: translate(84px, 84px) rotate(90deg) translate(70px, 0);
}
.flogo-spin-loading > div:nth-of-type(3) > div {
  animation: flogo-spin-loading 1s linear infinite 0.25s;
}
.flogo-spin-loading > div:nth-of-type(3) {
  transform: translate(84px, 84px) rotate(135deg) translate(70px, 0);
}
.flogo-spin-loading > div:nth-of-type(4) > div {
  animation: flogo-spin-loading 1s linear infinite 0.37s;
}
.flogo-spin-loading > div:nth-of-type(4) {
  transform: translate(84px, 84px) rotate(180deg) translate(70px, 0);
}
.flogo-spin-loading > div:nth-of-type(5) > div {
  animation: flogo-spin-loading 1s linear infinite 0.5s;
}
.flogo-spin-loading > div:nth-of-type(5) {
  transform: translate(84px, 84px) rotate(225deg) translate(70px, 0);
}
.flogo-spin-loading > div:nth-of-type(6) > div {
  animation: flogo-spin-loading 1s linear infinite 0.62s;
}
.flogo-spin-loading > div:nth-of-type(6) {
  transform: translate(84px, 84px) rotate(270deg) translate(70px, 0);
}
.flogo-spin-loading > div:nth-of-type(7) > div {
  animation: flogo-spin-loading 1s linear infinite 0.75s;
}
.flogo-spin-loading > div:nth-of-type(7) {
  transform: translate(84px, 84px) rotate(315deg) translate(70px, 0);
}
.flogo-spin-loading > div:nth-of-type(8) > div {
  animation: flogo-spin-loading 1s linear infinite 0.87s;
}
.flogo-spin-loading > div:nth-of-type(8) {
  transform: translate(84px, 84px) rotate(360deg) translate(70px, 0);
}

/* TODO: Only for demo, need to find a way to add custom class to modal's parent */

.modal-dialog {
  width: 90%;
}

.modal-content {
  border-radius: 4px;
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.3);
  padding: 30px;
}

.modal-backdrop {
  background-color: rgba(113, 113, 113, 0.8);
}

.flogo-transform-header {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.flogo-transform-header__title {
  flex: 1;
}

.flogo-flows-detail-tasks-install-modal .category-list__title,
.flogo-flows-detail-triggers-install-modal .category-list__title {
  font-size: 15px;
  color: #0081cb;
}

.flogo-flows-detail-tasks-install-modal__content,
.flogo-flows-detail-triggers-install-modal__content {
  margin-top: -15px;
}

.flogo-flows-detail-tasks-install-modal .category-list__category,
.flogo-flows-detail-triggers-install-modal .category-list__category {
  margin-top: 4px;
}

.flogo-flows-detail-tasks-install-modal .activities-list,
.flogo-flows-detail-triggers-install-modal .activities-list {
  margin-top: 0;
}

.flogo-flows-detail-tasks-install-modal .activities-list__activity,
.flogo-flows-detail-triggers-install-modal .activities-list__activity {
  border-bottom: solid 1px #d8d8d8;
  margin-top: 0;
  padding: 19px 26px 17px;
}

.flogo-flows-detail-tasks-install-modal .activities-list__activity:hover,
.flogo-flows-detail-triggers-install-modal .activities-list__activity:hover {
  background-color: #d8d8d8;
  cursor: pointer;
}

.flogo-flows-detail-tasks-install-modal .activities-list__activity.installed:hover,
.flogo-flows-detail-triggers-install-modal .activities-list__activity.installed:hover {
  cursor: not-allowed;
}

.flogo-flows-detail-tasks-install-modal .activities-list__activity .install-status-icon,
.flogo-flows-detail-triggers-install-modal .activities-list__activity .install-status-icon {
  color: #79b8dc;
  font-size: 20px;
  margin-left: 10px;
}

.flogo-flows-detail-tasks-install-modal .activities-list__activity.installed .install-status-icon,
.flogo-flows-detail-triggers-install-modal .activities-list__activity.installed .install-status-icon {
  color: #d8d8d8;
}

/* Edit panel */
.flogo-common-edit-panel {
  background-color: #fff;
}

.flogo-common-edit-panel__head {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  position: relative;
  background-color: #fff;
  color: #676a6d;
  height: 113px;
  padding-left: 16px;
  padding-right: 16px;
}

.flogo-common-edit-panel__head-title {
  font-weight: bold;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 18px;
}

.flogo-common-edit-panel__head-subtitle {

}

.flogo-common-edit-panel__container {
  padding: 10px 19px 10px 17px;
  height: @size-height-right-container;
  overflow-y: scroll;
}

.flogo-common-edit-panel__footer {
  background-color: #f8f8f8;
  padding: 10px 16px;
  position: fixed;
  bottom:0;
  border-top: 1px solid lightgray;
  width: 100%;
}

.flogo-common-edit-panel__btn-download {
  width: 100%;
  height: 40px;
  .flogo-icon-download{
    margin-right: 5px;
  }
}

.flogo-common-edit-panel__tiles-list {
  border-bottom: solid 1px #d8d8d8;
  list-style: none;
  margin: 0;
  padding: 0;
}

.flogo-common-edit-panel__tiles-list-tile,
.flogo-common-edit-panel__tiles-list-trigger {
  border-top: solid 1px #d8d8d8;
  color: #666;
  font-weight: bold;
  margin: 0;
  padding: 19.5px 53px 19.5px 65px;
  letter-spacing: .7px;
  font-size: 14px;
}

.flogo-common-edit-panel__tiles-list-tile {
  background: url('svg/flogo.flows.detail.tasks.gears.svg') no-repeat center left 20px,
  url('svg/flogo.icon.checked.circle.svg') no-repeat center right 20px;
}

.flogo-common-edit-panel__tiles-list-trigger {
  background: url('svg/flogo.flows.detail.tasks.gears.svg') no-repeat center left 20px,
  url('svg/flogo.icon.checked.circle.svg') no-repeat center right 20px;
}

.flogo-common-edit-panel__tiles-list-tile:hover,
.flogo-common-edit-panel__tiles-list-trigger:hover
{
  background-color: #ececec;
  cursor: pointer;
}

.flogo-common-edit-panel__legend {
  background-color: #f4f4f4;
  border: none;
  color: #666;
  font-size: 14px;
  margin: 10px 0 0 0;
  line-height: 1.5;
  padding: 5px 16px;
  text-transform: capitalize;
}

.flogo-common-edit-panel__container .flogo-common-edit-panel__legend {
  margin: 10px -19px 10px -17px;
}

.flogo-common-edit-panel__container > .flogo-common-edit-panel__legend:first-child {
  margin-top: -10px;
}

.flogo-common-edit-panel__head + .flogo-common-edit-panel__legend {
  margin-top: -10px;
}

/* This is just for Add Flow Modal in homepage */
.modal-dialog.modal-sm {
  width: 50%;
}

/* the class of notification */
.flogo-common-notification-container{
  position: fixed;
  top: 48px;
  right: 0;
  width: 26%;
  min-width: 320px;
  z-index: 2000;
}
.flogo-common-notification {
  position: relative;
  opacity: 0;
  width: 0;
  float: right;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px 25px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 4px;
  transition: all 500ms linear;
}
.flogo-common-notification.on {
  width: 100%;
  opacity: 1;
}
.flogo-common-notification.information {
  color: @color-info;
  background: rgba(255, 255, 255, 1);
  border: solid 1px @color-info;
}
.flogo-common-notification.success {
  color: @color-success;
  background: rgba(255, 255, 255, 1);
  border: 2px solid @color-success;
}
.flogo-common-notification.warning {
  color: @color-warning;
  background: rgba(255, 255, 255, 1);
  border: solid 1px @color-warning;
}
.flogo-common-notification.error {
  color: @color-danger;
  background: rgba(255, 255, 255, 1);
  border: 2px solid @color-danger;
}
.flogo-common-notification .flogo-common-notification-close{
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* the style for confirm modal */
.flogo-common-service-modal-container{
  position: fixed;
  z-index: 1001;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(113, 113, 113, 0.8);
}
.flogo-common-service-modal-detail{
  background: #fff;
  padding: 40px;
  margin: 40px auto;
  width: 40%;
  border-radius: 4px;
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.3);
  color: #666666;
  transform: translate(0, -200%);
  transition: all 200ms linear;
}
.flogo-common-service-modal-detail.in{
  transform: translate(0, 0);
}
.flogo-common-service-modal-confirm{
  padding: 17px 0;
  border-bottom: 1px solid #d8d8d8;
  font-size: 24px;
  line-height: 0.8;
  letter-spacing: 0.4px;
}
.flogo-common-service-modal-message{
  padding: 20px 0;
  font-size: 16px;
  letter-spacing: 0.5px;
  margin-bottom: 50px;
}
.flogo-common-service-modal-button{
  float: right;
  margin-left: 20px;
  width: 124px;
  height: 45px;
  text-align: center;
  font-size: 16px;
}

.flogo-common-flows-new-flow {
  background: transparent;
  /*border-radius: 4px;*/
  color: #0081cb;
  cursor: pointer;
  font-size: 14px;
  padding: 30px 27px;
  text-align: center;
  width: 100%;
  border-bottom: 2px solid #ccc;

  &:hover{
    background: #fff;
    color: #36bfbb;
  }
}

.flogo-common-flows-new-flow__icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.flogo-common-flows-new-flow__text {
  line-height: 18px;
  margin: 0;
  width: 100%;
}

.flogo-button--default{
  color: white;
  background: @color-primary;
  border: none;

  &:hover{
    border-radius: 4px;
  }
  &:active{
    background: @color-primary;
    border-radius: 4px;
  }
  &:disabled{
    opacity: .5;
  }
}

.flogo-button--secondary{
  color: @color-secondary;
  background: white;
  border: solid 2px @color-secondary;

  &:hover{
    border-radius: 4px;
  }
  &:active{
    background: @color-secondary;
    border-radius: 4px;
    color: white;
  }
  &:disabled{
    opacity: .5;
  }
}

.flogo-button--accent{
  color: @color-accent;
  background: white;
  border: solid 2px @color-accent;

  &:hover{
    background: @color-accent-light;
    border-radius: 4px;
    color: white;
  }
  &:active{
    background: @color-accent-dark;
    border-radius: 4px;
    color: white;
  }
  &:disabled{
    opacity: .5;
  }
}

