@import "_variables";

/* Reset */
html,
body,
div {
  border: 0;
  margin: 0;
  padding: 0;
}

html, body {
  display: flex;
  align-items: stretch;
}


html,body,.md-sidenav-container {
  width: 100%;
  height: 100vh;
}

/* Box-sizing border-box */
* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  src: url('fonts/SourceSansPro-Regular.eot');
  src: url('fonts/SourceSansPro-Regular.ttf')  format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  src: url('fonts/SourceSansPro-Bold.eot');
  src: url('fonts/SourceSansPro-Bold.ttf')  format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Source Sans Pro';

  src: url('fonts/SourceSansPro-Light.eot');
  src: url('fonts/SourceSansPro-Light.ttf')  format('truetype');
  font-weight: 300;
}

/* Set up a default font and some padding to provide breathing room */
body {
  font-family: 'Source Sans Pro', sans-serif;
  /*font-family: Roboto, "Helvetica Neue", sans-serif;*/
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


