:host {
  width: 100%;
}

.tate-main {
  height: 100%;

  .toolbar {
    display: flex;
    justify-content: flex-end;
    height: 10%;
    padding: 10px;
  }

    .toolbar__username {
      display: flex;
      align-items: center;
      margin-right: 10px;
     }

  .routes {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
  }


}
