
.tate-score {
  margin-top: 20px;

  .results {
  }

    .results__header,
    .results__record {
      display: flex;
      width: 100%;
    }

    .results__header {
      font-weight: bold;
    }

    .results__header div,
    .results__record div {
      text-align: center;
      width: 25%;
    }

}
